<%- include('../includes/head.ejs') %>
<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <% if (errorMessage) { %>
    <div class="user-message user-message--error"><%= errorMessage %></div>
    <% } %>
    <h1>Login</h1>
    <form action="/login" method="POST">
      <div>
        <label for="username">Username:</label>
        <input
        class="<%= validationErrors.find(e => e.param === 'username') %>"
        type="text"
        name="username" 
        id="username" 
        value="<%= oldInput.username %>" />
      </div>
      <div>
        <label for="password">Password:</label>
        <input
        class="<%= validationErrors.find(e => e.param === 'password') %>"
         type="password" 
         name="password" 
         id="password" 
         value="<%= oldInput.password %>" />
      </div>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <button type="submit">Login</button>
    </form>
    <a href="/reset">Reset Password</a>
  </main>
  <%- include('../includes/end.ejs') %>

