<%- include('../includes/head.ejs') %>
</head>
<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <% if (books.length > 0) { %>
    <div class="libraryBooks">
      <% for (let book of books) { %>
      <article class="card libraryBook">
        <header class="cardHeader">
          <h1 class="bookTitle"><%= book.title %></h1>
        </header>
        <div class="cardContent">
          <h3 class="bookAuthor"><h5>Author: </h5><%= book.author %></h3>
          <p class="bookDescription"><h5>Description: </h5><%= book.description %></p>
        </div>
        <div class="cardActions">       
          <a href="/admin/edit_book/<%= book._id %>?edit=true" class="btn">Edit</a>
          <form action="/admin/delete_book" method="post">
            <input type="hidden" value="<%= book._id %>" name="bookId">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <button class="btn">Delete</button>
          </form>
        </div>
      </article>
      <% } %>
    </div>
    <% } else { %>
    <h1>No Books Found</h1>
    <% } %>
  </main>
  <%- include('../includes/end.ejs') %>

