<%- include('../includes/head.ejs') %>
<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <h1>Editor</h1>
    <% if (books.length > 0) { %>
    <div class="grid">
      <% for (let book of books) { %>
      <article class="card product-item">
        <header class="card__header">
          <h1 class="product__title"><%= book.title %></h1>
          <h1 class="product__title"><%= book.author %></h1>
        </header>
        <div class="card__content">
          <p class="product__description"><%= book.description %></p>
        </div>
        <div class="card__actions"></div>
        <dir>
          <a href="/admin/edit_book/<%= book._id %>?edit=true">Edit</a>
          <form action="/admin/delete_book" method="post">
          <input type="hidden" value="<%= book._id %>" name="bookId">
            <button>Delete</button>
        </form>
        </dir>
      </article>
      <% } %>
    </div>
    <% } else { %>
    <h1>No Books Found</h1>
    <% } %>
  </main>
  <%- include('../includes/end.ejs') %>

