<%- include('../includes/head.ejs') %>
</head>
<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <% if (books.length > 0) { %>
    <div class="libraryBooks">
      <% for (let book of books) { %>
      <article class="card libraryBook">
        <header class="cardHeader">
          <h1 class="bookTitle"><%= book.title %></h1>
        </header>
        <div class="cardContent">
          <h3 class="bookAuthor"><h5>Author: </h5><%= book.author %></h3>
          <p class="bookDescription"><h5>Description:</h5><%= book.description %></p>
        </div>
      </article>
      <% } %>
    </div>
    <% } else { %>
    <h1>No Books Found</h1>
    <% } %>
  </main>
  <%- include('../includes/end.ejs') %>
